.wrapper_carditem {
  background: transparent;

  .title {
    position: absolute;
    z-index: 99;
    top: 0;
    background: gray;
    padding: 10px;
  }

  .css-1getsqo {
    background: white !important;
  }

  .css-16k597g img {
    height: 100% !important;
  }
}
